    .dashboard__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: stretch;
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
        background-color: $white;
    }

    .dashboard__header {
        height: 60px;
        position: relative;
    }

    .dashboard__actionbar {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }

    .dashboard__actionbar_inner {
        right: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $line;
        background-color: $white;
        top: 0;
        height: 60px;
    }

    .dashboard__actionbar_profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
    }

    .dashboard__actionbar_name {
        border-left: 2px solid $line-alt;
        padding-left: 10px;
        margin-right: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
        font-size: 16px;
        color: $black-alt;
        font-weight: 600;
        font-family: $font-secondary;
    }

    .dashboard__actionbar_avatar {
        border-radius: 50%;
        width: auto;
        display: inline-block;
        height: 50px;
        min-width: 50px;
        background-color: $haze;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: $white;
        position: relative;
        vertical-align: middle;
    }

    .dashboard__sidebar {
        min-width: 280px;
        max-width: 280px;
        height: 100%;
        background-color: $ocean;
        color: $white;
        z-index: 101;
        position: relative;
        top: 0;
        left: 0;
    }

    .dashboard__sidebar_inner {
        padding: 2rem 1.5rem 0 1.5rem;
        margin: 0;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: stretch;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .dashboard__sidebar_heading {
        margin-bottom: 20px;
    }

    .dashboard__sidebar_logo {
        color: $white;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .dashboard__sidebar_nav {
        margin: 0;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dashboard__sidebar_menu {
        padding: 0;
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;
        position: relative;
        font-size: 16px;
    }

    .dashboard__sidebar_submenu {
        position: relative;
        margin: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: calc(100% + 48px);
            left: -24px;
            height: 2px;
            background-color: $void-alt;
        }
    }

    .dashboard__sidebar_menu__item {
        margin: 0;
        padding: 0;
        display: block;
        outline: none;

        &:last-of-type {
            .dashboard__sidebar_menu__item_link {
                border-bottom: none;
            }
        }

        &.active {
            .dashboard__sidebar_menu__item_link {
                color: $white;
            }
        }
    }

    .dashboard__sidebar_menu__item_link {
        color: $void-alt;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $void;
        padding: 15px 0;
        outline: none;

        i {
            width: 30px;
            height: auto;
        }

        span {
            text-align: left;
            height: auto;
            overflow: hidden;
        }

        &:hover {
            color: $white;
        }
    }

    .dashboard__sidebar_dropdown_submenu {
        margin-left: 15px;
        font-size: 14px;
    }

    .dashboard__sidebar_dropdown_toggle {
        white-space: nowrap;
        position: relative;

        &::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .dashboard__content {
        overflow-y: auto;
        overflow-x: hidden;
        background: $white-alt;
        position: relative;
        flex: 1 1;
        width: 100%;
    }

    .dashboard__overview {
        width: 100%;
        padding: 0;
        display: block;
    }

    .dashboard__overview_inner {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        height: 100%;
    }

    .dashboard__notifications {
        position: relative;
    }

    .dashboard_page__heading,
    .dashboard_section__heading {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: $black;
        margin-bottom: 1rem;
    }

    .dashboard_section__header {
        position: relative;
        zoom: 1;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: $white;
        border: 1px solid $line;
        border-bottom: 0;
    }
    

    .dashboard_section__content {
        zoom: 1;
        position: relative;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 1.35rem 1.667rem;
        background-color: $white;
        border: 1px solid $line;
        box-shadow: 0 2px 3px -2px $line-alt;
    }

    .dashboard_section__heading {
        padding: 1.1rem 1.667rem;
        margin: 0;
    }

    .dashboard_page__heading {
        font-size: 20px;
        font-weight: 600;
    }

    .dashboard__form_message {
        background-color: $grey-alt;
        border-radius: .3rem;
        color: $white;
        font-size: .875rem;
        font-weight: 600;
        margin: 0 0 1.25rem;
        padding: .5rem 2rem .5rem 1rem;
        position: relative;
        text-align: left;
        width: 100%;

        &.dashboard__form_message--success {
            background-color: $green-alt;
        }

        &.dashboard__form_message--alert {
            background-color: $red-alt;
        }
    }

    .dashboard_page__account {
        display: block;
        height: 100%;
    }

    .account__general_settings,
    .account__email_settings,
    .account__password_settings,
    .account__avatar_settings {
        margin-bottom: 2.5rem;
    } 