    .site__footer {
        background-color: $white;
        margin: 50px 0px 0px 0px;
        border-top: 1px solid $line-alt;
        padding: 40px 30px;
    }

    .site__footer_wrapper {
        margin: 0px;
    }

    .site__footer_content {
        display: flex;
        width: auto;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: left;
        margin: 0 auto;
        padding: 0 15px;
    }

    .footer__nav {
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        .nav__items {
            border-right: 1px solid $line;
            display: inline-block;
            padding: 0px 3rem;

            &:last-of-type {
                border-right: none;
            }

            .nav__header {
                font-family: $font-secondary;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 20px;
            }

            .nav__item {
                font-weight: 400;
                display: block;
                font-family: $font-secondary;
                margin-bottom: 10px;
                padding-right: 5px;
                color: $black;

                .nav__item_link {
                    color: $black;
                    
                    &:hover {
                        color: $space-grey
                    }
                }

                .icon__facebook_link,
                .icon__twitter_link,
                .icon__instagram_link,
                .icon__pinterest_link {
                    color: $black;
                }

                .icon__facebook_link:hover {
                    color: $facebook;
                }
            
                .icon__twitter_link:hover {
                    color: $twitter;
                }
            
                .icon__instagram_link:hover {
                    background: $instagram;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            
                .icon__pinterest_link:hover {
                    color: $pinterest;
                }
            }
        }

        .site__social {
            display: flex;
            float: left;
            flex-direction: column;
            padding-right: 1rem;
            border-right: 1px solid $line;

            .site__logo_link {
                padding: 0;
                height: auto;

                .site__logo_icon {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .site__social_links {
                margin: 0;

                .site__social_link {
                    width: 40px;
                    height: 40px;
                    background-color: $white-alt;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    vertical-align: middle;

                    .icon__facebook_link,
                    .icon__twitter_link,
                    .icon__instagram_link,
                    .icon__pinterest_link {
                        margin: 0;

                        i {
                            font-size: 125%;
                        }
                    }

                    .icon__facebook_link:hover {
                        color: $facebook;
                    }

                    .icon__twitter_link:hover {
                        color: $twitter;
                    }

                    .icon__instagram_link:hover {
                        background: $instagram;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .icon__pinterest_link:hover {
                        color: $pinterest;
                    }
                }
            }
        }
    }

    

    .footer__legal {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .site__copyright {
            font-family: $font-quaternary;
            letter-spacing: 0.05em;
            font-weight: 400;
            font-size: 14px;
            color: $black-alt;
            text-align: center;
        }
    }