    *, 
    ::after, 
    ::before {
        box-sizing: border-box;
    }

    html,
    body {
        font-size: 16px;
        font-family: $font-primary;
        line-height: 1.5;
        color: $blue;
    }
    
    .site__content_container {
        height: auto;
        min-height: 100%;
    }

    .site__main {
        padding: 0;
    }

    .site__wrapper {
        margin-right: auto;
        margin-left: auto;

        @include sm {
            width: 540px;
        }

        @include md {
            width: 750px;
        }

        @include lg {
            width: 970px;
        }
         
        @include xl {
            width: 1170px;
        }
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .clear-both {
        clear: both;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }

    .hidden {
        display: none!important;
    }

    .bold {
        font-weight: bold;
    }

    .normal {
        font-weight: normal;
    }

    .button {
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.4375rem 1.75rem;
        border: 0;
        border-radius: 2px;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        transition: all 150ms;
        user-select: none;
        display: inline-block;
    }

    .display-mobile {
        display: block;

        @include lg {
            display: none!important;
        }
    }

    .display-desktop {
        display: none;

        @include lg {
            display: block!important;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
        color: $indigo;
        font-family: inherit;
    }

    a {
        text-decoration: none;
    }

    fieldset {
        position: relative;
    } 

    img {
        display: block;
        height: auto;
        max-width: 100%;
    }