    .site__header {
        background-color: $white;   
        border-bottom: 1px solid $line;
    }

    .site__header_content {
        padding-right: 2.75rem;
        padding-left: 3.75rem;
        display: flex;
    }

    .site__notification {
        display: none;
        overflow: hidden;
        max-height: 0;
        padding: 0;

        .notification__message {
            padding-right: 2rem;
            position: relative;

            .notification__message_text {
                text-align: center;
                font-weight: bold;
            }
        }
    }


    .site__header_control {
        flex: 1;
        display: inline-flex;
        z-index: 2000;
        height: auto;
        margin-left: auto;

        .site__logo {
            display: block;
            padding: 10px 16px 10px 0px;
            height: 4.375rem;

            .site__logo_icon {
                width: auto;
                height: 100%;
                display: block;
            }
        }
    }
    

    .site__menu {
        font-family: $font-tertiary;
        z-index: 2000;
        height: auto;
        display: inline-flex;
        float: right;
        
        .menu__list {
            display: flex;
            align-items: center;

            .menu__container {
                padding: 0;
                height: auto;

                .menu__item {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
    
                    .menu__link {
                        display: block;
                        padding: 1rem;
                        cursor: pointer;
                        color: $black-alt;

                        &:hover {
                            color: $red;
                        }

                        &.menu__link-shop--button {
                            background-color: $red;
                            color: $white;
                            padding: 8px 15px;
                            font-size: 14px;
                            font-weight: 700;
                            border-radius: 2px;
                            display: inline-block;
                        }
                    }

                    &.dropdown--list {
                        top: -0.4rem;
                        margin-left: 5px;
                    }

                    .dropdown__toggle {
                        position: relative;
                        padding: 1.4rem 2.5rem 1rem 1rem;
                        border: 1px solid transparent;

                        &.dropdown__toggle--active {                           
                            border-color: $line-alt;
                            border-bottom: 0;
                            border-top: 0;
                        }
                
                        &::after {
                            content: "";
                            height: 0;
                            position: absolute;
                            width: 0;
                            z-index: 1000;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 4px solid $grey-alt;
                            top: 55%;
                            right: 1.5rem;
                            transition: all 150ms linear;
                        }

                        .dropdown__header_username {
                            display: inline-block;
                            line-height: 1.1;
                            max-width: 12rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            vertical-align: middle;
                        }
                    }

                    .dropdown__menu {
                        display: none;
                        background-color: $white;
                        max-height: 1000px;
                        border: 1px solid $line-alt;
                        border-radius: 0 0 2px 2px;
                        border-top: 0;
                        overflow: visible;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                
                        .dropdown__menu_links {
                            padding: .2rem 0 .3rem;
                
                            .dropdown__menu_item  {
                                padding: .2rem 2.5rem .2rem 1rem;
                                position: relative;
                
                                .dropdown__menu_link {
                                    font-family: $font-secondary;
                                    font-size: 14px;
                                    color: $grey;
                                    display: block;
                                    padding: .5rem 0;
                                    cursor: pointer;
                            
                                    &:hover {
                                        color: $red;
                                    }
                                } 
                            }
                        }
                    }

                    .menu__link--highlight {
                        color: $red;
                        font-weight: bold;

                        &:hover {
                            color: $red-alt;
                        }
                    }

                    .menu__link-shopping-cart-container {
                        position: relative;
                        display: inline-block;
                        bottom: -0.125rem;
                        width: 1.3rem;

                        .ts-icon-cart {
                            color: initial;
                            bottom: -0.125rem;
                            left: -0.0625rem;

                            i {
                                font-size: 115%;
                            }
                        }

                        .site__shopping-cart-count {
                            background-color: $yellow;
                            padding: 0px 4px;
                            color: $black-alt;
                            font-size: 10px;
                            border-radius: 2px;
                            font-weight: 600;
                            position: absolute;
                            bottom: 0.625rem;
                            left: -0.375rem;
                        }
                    }
                }
            }
        }
    }